.texto{
    color: #f7f1f1;
    background-color: rgb(235, 23, 23);
    text-align: center;
}

.bolha{
    text-align: center;
}
.copy{
    color: #f5ebeb;
    background-color: rgb(17, 5, 5);
}
.mingau{
background-color: cadetblue;
}
.bolha2{
    text-align: center;
}

